# Dependencies
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
.pnp
.pnp.js

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production
backend/.env
frontend/.env
frontend/.env.local
admin/.env
api-tester-ui/.env
*/**/.env

# Testing
coverage
.nyc_output

# Build outputs
dist
build
out

# Editor directories and files
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
*.sublime-project
*.sublime-workspace
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
logs
*.log

# Environment files
.env
.env.local
.env.development
.env.test
.env.production
backend/.env
frontend/.env
frontend/.env.local
admin/.env
api-tester-ui/.env
*/**/.env

# exception for example files
!.env.example
!.env.*.example
!*.env.example
!*.env.template
!env.template
!env.*.template
