{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-tailwindcss"
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "function-no-unknown": null,
    "at-rule-no-deprecated": null,
    "selector-class-pattern": null,
    "declaration-block-single-line-max-declarations": null,
    "property-no-unknown": null,
    "declaration-property-value-no-unknown": null,
    "declaration-property-value-keyword-no-deprecated": null,
    "declaration-block-no-duplicate-properties": null,
    "no-duplicate-selectors": null,
    "no-descending-specificity": null,
    "number-max-precision": null,
    "keyframes-name-pattern": null
  },
  "ignoreFiles": ["**/dist/**", "**/node_modules/**", "**/css/output.css"]
} 